$primary-color_red: #DE3C3C;
$secondary-color: #C00000;
$secondary-color_orange: #FFAA64;
$secondary-color_gray: #D8D8D8;

$card-border: 2px solid rgba(197, 197, 197, 0.15);

$text-color_primary: #212121;
$text-color_secondary: #C5C5C5;
$text-color_white: #FFFFFF;

$font-size_title: 24px;
$font-size_subtitle: 18px;
$font-size_regular: 16px;
$font-size_small: 14px;